<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.svili.portal.dao.GeneralDao">

	<select id="selectByPrimaryKey" parameterType="map" resultType="hashmap">
    <![CDATA[
    select ${queryColumn}
    from ${tableName}
    where ${primaryKey} = #{primaryValue}
    ]]>
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="map">
    <![CDATA[
    delete from ${tableName}
    where ${primaryKey} = #{primaryValue}
    ]]>
	</delete>
	
</mapper>