<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.svili.portal.dao.GeneralDao">

	<select id="selectByPrimaryKey" parameterType="map" resultType="hashmap">
		select
		<foreach item="columnName" index="index" collection="queryColumn"
			separator=",">
			${columnName}
		</foreach>
		from ${tableName}
		where ${primaryKey} = #{primaryValue}
	</select>

	<insert id="insert" parameterType="map">
		insert into ${tableName}
		<foreach item="item" index="index" collection="SQLColumns"
			open="(" separator="," close=")">
			${item.columnName}
		</foreach>
		values
		<foreach item="item" index="index" collection="SQLColumns"
			open="(" separator="," close=")">
			<if test="item.jdbcType == null">
				#{item.columnValue}
			</if>
			<if test="item.jdbcType != null">
				#{item.columnValue,jdbcType=${item.jdbcType} }
			</if>
		</foreach>
	</insert>

	<insert id="insertBatch" parameterType="map">
		insert into ${tableName}
		<foreach item="columnName" index="index" collection="columnNames"
			open="(" separator="," close=")">
			${columnName}
		</foreach>
		values
		<foreach item="SQLColumns" index="rowIndex" collection="dataList"
			separator=",">
			<foreach item="SQLColumn" index="columnIndex" collection="SQLColumns"
				open="(" separator="," close=")">
				<if test="SQLColumn.jdbcType == null">
					#{SQLColumn.columnValue}
				</if>
				<if test="SQLColumn.jdbcType != null">
					#{SQLColumn.columnValue,jdbcType=${SQLColumn.jdbcType} }
				</if>
			</foreach>
		</foreach>
	</insert>

	<delete id="deleteByPrimaryKey" parameterType="map">
    <![CDATA[
    delete from ${tableName}
    where ${primaryKey} = #{primaryValue}
    ]]>
	</delete>

	<delete id="deleteByCondition" parameterType="map">
    <![CDATA[
    delete from ${tableName}
    where ${conditionExp}
    ]]>
	</delete>

	<update id="updateByPrimaryKey">
		update ${tableName}
		<set>
			<foreach item="item" index="index" collection="SQLColumns"
				separator=",">
				<if test="item.jdbcType == null">
					${item.columnName} =
					#{item.columnValue }
				</if>
				<if test="item.jdbcType != null">
					${item.columnName} =
					#{item.columnValue,jdbcType=${item.jdbcType} }
				</if>
			</foreach>
		</set>
		where ${primaryKey} = #{primaryValue}
	</update>

	<update id="updateByConditionSelective">
		update ${tableName}
		<set>
			<foreach item="columnValue" index="columnName" collection="columnValueMapping"
				separator=",">
				${columnName} = #{columnValue}
			</foreach>
		</set>
		<where>
			<if test="conditionExp != null">
				${conditionExp}
			</if>
		</where>
	</update>

	<select id="selectAdvanced" parameterType="map" resultType="hashmap">
		select
		<foreach item="columnName" index="index" collection="queryColumn"
			separator=",">
			${columnName}
		</foreach>
		from ${tableName}
		<where>
			<if test="conditionExp != null">
				${conditionExp}
			</if>
		</where>

		<if test="orderExp != null">
			order by ${orderExp}
		</if>

		<if test="page != null">
			limit #{page.startRowNo},#{page.pageSize}
		</if>
	</select>

</mapper>